@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

nav h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

body {
  background-image: url('./games.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Press Start 2P', sans-serif;
  color: #fff;
  opacity: 1;
  animation: fadeInBackground 5s ease;
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
select {
  background-color: #3b3b3b;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

select:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
  cursor: pointer;
  background-color: #555;
}

p#showGames {
  font-size: 10px;
  margin-top: 20px;
  font-weight: bold;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

button.submit {
  background-color: #050404;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: slideIn 1s ease;
}

button:hover {
  background-color: #4ff022;
}

.gameh2 {
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  background-color: black;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-body h5 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.card-body p {
  margin-bottom: 10px;
  font-size: 16px;
}

.list-group {
  margin-bottom: 15px;
  border-radius: 0;
}

.list-group-item {
  font-size: 14px;
}

.game-container {
  height: 400px;
  overflow-y: scroll;
}

#gif {
  
  background-image: url('./portal.gif');
  background-color: rgb(4, 23, 58);
  background-blend-mode: luminosity;
  border-radius: 200px;
  display: block;
  width: 350px;
  height: 350px;
  background-position: center;
}

marquee {
  font-size: 15px;
  font-style: oblique;
  color: red;
  background-color: black;
  border: 4px dotted grey;
  padding: 5px;
  margin: 5px;
  animation: blink 1s linear infinite
}

@keyframes blink {
  50%{
    opacity: 0;
  }
}

h4 {
  height: 25px;
  overflow-y: hidden;
  display: block;
  animation-name: appear;
  animation-duration: 3s;
}
@keyframes appear {
  form { transform: translateY(25px)}
  to { transform: translate(0);}
}
