@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body {
  background-image: url('./games.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Press Start 2P', sans-serif;
  color: #fff;
  opacity: 1;
  animation: fadeInBackground 5s ease;
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh
}
select {
  background-color: #3b3b3b;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

select:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
  cursor: pointer;
  background-color: #555;
}

p#showGames {
  font-size: 10px;
  margin-top: 20px;
  font-weight: bold;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

button.submit {
  background-color: #050404;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: slideIn 1s ease;
}

button:hover {
  background-color: #4ff022;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  background-color: black;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-body h5 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.card-body p {
  margin-bottom: 10px;
  font-size: 16px;
}

.list-group {
  margin-bottom: 15px;
  border-radius: 0;
}

.list-group-item {
  font-size: 14px;
}

.game-container {
  height: 400px;
  overflow-y: scroll;
}

#gif {
  background-image: url('./portal.gif');
  display: block;
  width: 400px;
  height: 400px;
}